!!! Strict
%html
   %head
      %title Twitcher
      %script{ :type => "text/javascript", :src => "js/jquery-1.6.1.min.js" }
      %script{ :type => "text/javascript", :src => "js/script.js" }
      %link{ :rel => "stylesheet", :type => "text/css", :href => "css/style.css" }
      %link{ :rel => "shortcut icon", :href => "images/favicon.ico" }
   
   %body
      #links
         #links-wrapper
            %ul
               %li
                  #logo
                     %a{ :href => "/" } twitcher
                  #bird
                     %img{ :src => "images/twitter.png" }
               %li
                  %a.active{ :href => "./load" } Add User
               %li
                  %a{ :href => ".." } Search Tweets
            #caption
               The Holy Grail of Twitter search.
      
      #message-drawer
         .message.error
            .message-inside
               %span
               %a.dismiss{ :href => "#" } x
      
      #content
         #main-content
            %form#load-tweets-form
               %div#load-tweets-title User:
               %input#load-tweets-box{ :type => "text", :name => "user", :autofocus => "true" }
               %input#load-tweets-button.disabled{ :type => "submit", :value => "Load Tweets", :disabled => "disabled" }
               %img.loading{ :src => "images/progress-dots.gif" }
         
         #statistics
            #total-tweets
               = "Tweets Indexed <span class='brown-bold'>"+Tweet.count.to_s+"</span>"
            #users-indexed
               #total-users
                  = "Users Indexed <span id='brown-bold'>"+User.count.to_s+"</span>"
               %ul#users-list
                  - User.all( :limit => 7 ).each do |user|
                     %li.user
                        %a.user-link{ :href => "#{'http://twitter.com/#!/'+user.screen_name}" }
                           %img{ :src => "#{user.profile_image_url}" }
