%head
   %title Twitter timeline search
   %script{ :type => "text/javascript", :src => "js/jquery-1.6.1.min.js" }
   %script{ :type => "text/javascript", :src => "js/script.js" }
   %link{ :rel => "stylesheet", :type => "text/css", :href => "css/style.css" }

#links
   %ul
      %li
         %a{ :href => ".." } Load another user's tweets
      %li
         %a{ :href => "./search" } Search tweets

%hr

- if params[:user_exists] == "false"
   #no-user{ :style => "color:red;" } No such user.
   

#user
   %form#load-tweets-form
      %div{ :style => "font-size: 25px;" } User:
      %input#user-box{ :type => "text", :name => "user" }
      %input#load-tweets{ :type => "submit", :value => "Load Tweets" }
