%head
   %title Twitter timeline search
   %script{ :type => "text/javascript", :src => "js/jquery-1.6.1.min.js" }
   %script{ :type => "text/javascript", :src => "js/script.js" }
   %link{ :rel => "stylesheet", :type => "text/css", :href => "css/style.css" }

#links
   %ul
      %li
         %a{ :href => "./load" } Load another user's tweets
      %li
         %a{ :href => ".." } Search tweets

%hr

- if params[:user_exists] == "false"
   #no-user{ :style => "color:red;" } No such user.

#user
   %form#load-tweets-form
      %div{ :style => "font-size: 25px;" } User:
      %input#user-box{ :type => "text", :name => "user" }
      %input#load-tweets{ :type => "submit", :value => "Load Tweets" }

%div#progress-outer
   %div#progress-inner

:javascript
   $(function() {
      $("form#load-tweets-form").submit(function() {
         setInterval(function() {
            current_page = #{@@current_page};
            num_pages = #{@@num_pages};
            $("body").append("<p>"+current_page+", "+num_pages+", "+(current_page*100.0)/num_pages+"%</p>");
            $("div#progress-inner").width((current_page*100.0)/num_pages+"%");
         }, 1000);
      });
   });
