@font-face {
   font-family: "Pico Black";
   src: url('../fonts/pico-black.ttf');
} 
* {
   margin:0px;
   padding:0px;
   font-family:Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}
ul {
   list-style-type:none;
}
a {
   text-decoration:none;
}
a:hover {
   text-decoration:underline;
}

select {
   height:25px;
   padding:0px 5px;
}
input[type=text] {
   height:15px;
   border:1px solid #cccccc;
   border-radius:4px;
   padding:8px;
   color:#222;
   font: 14px/18px "Helvetica Neue", Arial, sans-serif;
   outline:none;
   -webkit-transition: box-shadow 0.25s ease-in-out;
}
input[type=text]:hover {
   border:1px solid #AAAAAA;
}
input[type=text]:focus {
   box-shadow:0 0 8px #66D2FF;
}
input[type=button],
input[type=submit] {
   height:30px;
   border-radius:4px;
   font-size:15px;
   font-weight:300;
   padding:6px 9px;
   border:1px solid #bbbbbb;
   color:#333;
   background-image: -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(1, rgb(255,255,255)),
       color-stop(0.53, rgb(230,230,230))
   );
   background-image: -moz-linear-gradient(
       center bottom,
       rgb(255,255,255) 100%,
       rgb(230,230,230) 53%
   );
   cursor:pointer;
}
input[type=button]:active,
input[type=submit]:active {
   border:1px solid #999999;
   background-image: -webkit-gradient(
       linear,
       left top,
       left bottom,
       color-stop(1, rgb(255,255,255)),
       color-stop(0.53, rgb(230,230,230))
   );
   background-image: -moz-linear-gradient(
       center top,
       rgb(255,255,255) 100%,
       rgb(230,230,230) 53%
   );
}
input[type=button].disabled,
input[type=submit].disabled {
   color:#ccc;
   border:1px solid #eee;
   cursor:default;
}

body {
   background-color:#ACDED6;
   background-image:url('../images/background-birds.gif');
   background-position:left 40px;
   background-attachment:fixed;
   background-repeat:no-repeat;
   color:#333;
   height:100%;
   overflow:auto;
}

/* generic classes */
.loading {
   float:right;
   margin:30px 10px 0 0;
   display:none;
}

/* top bar */
#links {
   position:fixed;
   top:0;
   left:0;
   height:40px;
   width:100%;
   z-index:999;
   background:-webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
   background:-moz-linear-gradient(top,#333,#111);
   box-shadow:0 0 5px rgba(0,0,0,0.7);
}
#links-wrapper {
   margin:0 auto;
   max-width:960px;
   line-height:40px;
}
#links #logo {
   font-family:"Pico Black";
   color:#f8f8f8;
   font-size:25px;
   margin-left:10px;
   float:left;
}
#links #logo a {
   font-family:"Pico Black";
   color:#f8f8f8;
   font-size:25px;
}
#links #bird {
   float:left;
   margin:0 20px 0 -15px;
}
#links li {
   height:40px;
   float:left;
}
#links li a {
   color:#bababa;
   text-decoration:none;
   font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
   font-size: 14px;
   height:100%;
   line-height:40px;
   float:left;
   padding:0 10px;
}
#links li a:hover {
   color:white;
}
#links li a.active {
   background:rgba(0,0,0,0.7);
   font-weight:bold;
   color:white;
}

/* caption */
#caption {
   margin-right:10px;
   border-radius:5px;
   color:#f8f8f8;
   font-family:"Pico Black";
   font-size:20px;
   height:100%;
   line-height:40px;
   float:right;
}

/* message drawer */
#message-drawer {
   position:fixed;
   top:40px;
   z-index:998;
   text-align:center;
   width:100%;
   display:none;
}
#message-drawer .message {
   border-radius:0px 0px 5px 5px;
   background:rgba(0,0,0,0.5);
   min-width:100px;
   max-width:490px;
   width:auto;
   display:inline-block;
   margin:0 auto;
   padding:0 6px 5px 6px;
   border:0;
   font-size:13px;
   line-height:17px;
   clear:both;
   position:relative;
}
#message-drawer .message .message-inside {
   background:white;
   padding:8px 12px 8px 16px;
   display:inline-block;
   font-size:13px;
   min-width:100px;
   border-radius:0px 0px 3px 3px;
}
#message-drawer .message .message-inside span {
   display:inline-block;
   color:#333333;
   max-width:440px;
   vertical-align:middle;
   font-size:13px;
   font:13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}
#message-drawer .dismiss {
   display:inline-block;
   padding:6px 6px 2px 6px;
   height:22px;
   margin:-5px -10px -10px 10px;
   font-family:Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
   font-size:12px;
   background:#f8f8f8;
   color:#999999;
}

/* content */
#content {
   margin:60px auto 0px auto;
   background:#f6f6f6;
   background:rgba(246,246,246,0.9);
   border-radius:5px;
   overflow:auto;
   max-width:960px;
}
#main-content {
   width:540px;
   float:left;
   z-index:4;
   border-radius:5px;
   box-shadow: 1px 1px 4px rgba(0,0,0,.5);
   height:100%;
   background:#f5f5f5;
}
#main-content div#load,
#main-content div#search {
   padding:15px 20px 0 20px;
   position:relative;
   overflow:auto;
}
#main-content form#load-tweets-form #load-tweets-title,
#main-content div#search div:first-child {
   font: bold 18px "Helvetica Neue", Helvetica, sans-serif;
   text-shadow: 0 1px 0 white;
   margin: 0 0 6px 0;
   color: #999;
}
#main-content #load input#load-tweets-box,
#main-content #search input#search-tweets-box {
   width:482px;
}
#main-content #load input#load-tweets-button,
#main-content #search input#search-tweets-button {
   margin-top:10px;
   float:right;
}

/* load tweets page */
#main-content #load {
   height:130px;
}
#main-content #load input#load-tweets-button {
   width:105px;
}

/* search tweets page */
#main-content #search {
   height:173px;
}
#main-content #search select {
   width:49%;
   margin:0 0 10px 0;
}
#main-content #search select:first-child {
   margin-right:5px;
}
div#date-format-info {
   display:none;
   font-size:14px;
   color:#999999;
   margin-top:10px;
   position:absolute;
   bottom:35px;
}
#main-content #search input#search-tweets-button {
   width:70px;
}
#main-content #results {
   background:white;
   margin-top:-10px;
}
#main-content #results #results-title {
   padding:12px 20px 7px 20px;
   font-size:15px;
   font-weight:normal;
   color:#666666;
   border-top:1px solid #cbcbcb;
   height:22px;
   line-height:22px;
}
#main-content .result {
   border-top:1px solid #ebebeb;
   position:relative;
   min-height:60px;
   clear:both;
   display:block;
}
#main-content .result .result-content {
   padding:10px 20px;
   font-size:15px;
   position:relative;
}
#main-content .result .result-content .result-image {
   float:left;
   height:48px;
   overflow:hidden;
   width:48px;
   margin-top:3px;
}
#main-content .result .result-content .result-text {
   margin-left:58px;
   min-height:48px;
}
#main-content .result .result-content .result-text .result-text-row {
   display:block;
   position:relative;
   line-height:15px;
   font-size:15px;
}
#main-content .result .result-content .result-text .result-text-row .result-screen-name {
   font-weight:bold;
   color:#333333;
}
#main-content .result .result-content .result-text .result-text-row .result-full-name {
   font-size:12px;
   color:#999999;
}
#main-content .result .result-content .result-text .result-text-row .result-tweet {
   font-family: Arial,"Helvetica Neue",sans-serif;
   line-height: 19px;
}
#main-content .result .result-content .result-text .result-text-row .result-metadata {
   color:#999999;
   font-size:11px;
}
#main-content #results a,
#main-content #results a:visited,
#statistics #popular-tweets a,
#statistics #popular-tweets a:visited {
   color: #038543;
}
#main-content #results a.tweet-mention .at-mention:hover,
#main-content #results .result-metadata a:hover,
#main-content #results a.hashtag .tag:hover,
#main-content #results a.link:hover,
#main-content #results a.result-screen-name:hover,
#main-content #results .result-image a:hover,
#statistics #popular-tweets a.popular-screen-name:hover,
#statistics #popular-tweets .popular-screen-name a:hover {
   text-decoration:underline;
}

/* statistics */
div#statistics {
   min-width:100px;
   max-width:380px;
   position:relative;
   margin:12px 20px;
   border-radius:0 5px 5px 0;
   float:left;
}
div#statistics div#total-tweets,
div#statistics div#total-users {
   font-size:16px;
   font-weight:300;
   margin-bottom:10px;
}
div#statistics span#brown-bold {
   color:#038543;
   font-size:14px;
   font-weight:bold;
}
div#statistics div#users-indexed li.user {
   float:left;
   margin-right:5px;
   position:relative;
}
div#statistics div#users-indexed li.user img {
   height:48px;
   width:48px;
}
div#statistics div#users-indexed li.user a.remove-user {
   position:absolute;
   top:0px;
   right:0px;
   color:#fff;
   font-family:Tahoma,sans-serif;
   background:rgba(0,0,0,0.4);
   font-size:20px;
   height:11px;
   width:11px;
   line-height:10px;
}
div#statistics #popular-tweets {
   margin-top:80px;
}
div#statistics #popular-tweets #popular-tweets-title {
   clear:both;
}
div#statistics #popular-tweets .popular-tweet {
   position:relative;
   clear:both;
   display:block;
   padding:5px 10px;
   font-size:13px;
   border-bottom:1px solid #dbdbdb; 
}
div#statistics #popular-tweets .popular-tweet .popular-screen-name {
   font-weight:bold;
   float:left;
   margin-right:5px;
}
div#statistics #popular-tweets .popular-tweet .popular-retweets {
   font-size:10px;
   color:#555;
}
div#statistics #popular-tweets .popular-tweet .popular-retweets img {
   padding-top:3px;
}
div#statistics #popular-tweets .popular-tweet .popular-retweets span {
   position:relative;
   top:-2px;
}